.Container
    border-left: none
    border-right: none
    position: relative

.no-video .Video-container video,
.touch .Video-container video
    display: none

.no-video .Video-container .poster,
.touch .Video-container .poster
    display: block !important

.Video-container
    position: relative
    bottom: 0
    left: 0
    height: 100%
    height: 100vh
    width: 100%
    overflow: hidden
    background: $negro

.Video-container .poster img
    width: 100%
    bottom: 0
    position: absolute

.Video-filter
    z-index: 100
    position: absolute
    background: rgba($blanco, 0.2)
    width: 100%
    height: 100%
    height: 100vh

.Video-container video
    position: absolute
    z-index: 0

.Video-container video.fullWidth
    width: 100%


.Logo
    +linear-gradient(rgba($blanco, 1) 40%, rgba($blanco, 0.4) 90%,rgba($blanco, 0), $fallback: transparent)
    position: absolute
    top: 0
    left: 50%
    +transform(translateX(-50%))
    padding: 1em
    z-index: 101
    img
        height: 200px

.Subscribe
    background: rgba($blanco, 0.6)
    position: absolute
    width: 100%
    bottom: 0px
    z-index: 101
    text-align: center
    padding-bottom: 2em
    p
        font-family: $fuente_principal
        font-size: 1.5em

.Form-container
    max-width: 60%
    margin: 0 auto
.Form-field
    width: 18%

.flexbox
    +display(flex)
    +justify-content(space-between)

input
    width: 100%

button
    width: 100%
    background: $naranja !important
    color: $gris
    cursor: pointer

.Message
    background-color: $azul_medio
    border: 1px solid $azul_oscuro
    color: $blanco
    display: none
    padding: 1em
    position: absolute
    bottom: 250px
    left: 50%
    +transform(translateX(-50%))
