/*! Variables */

/* Colores */
$azul_claro: rgb(0, 179, 229)
$azul_medio: rgb(0, 130, 202)
$azul_oscuro: rgb(49, 110, 180)
$rojo: rgb(204, 56, 41)
$naranja: rgb(255, 158, 22)
$amarillo: rgb(255, 223, 59)
$gris: rgb(51, 51, 51)
$negro: rgb(0, 0, 0)
$blanco: rgb(255, 255, 255)

$fuente_principal: 'ArialRegular'
$fuente_secundaria: 'AllerRegular'

@font-face
    font-family: 'AllerRegular'
    src: url('../fonts/allerdisplay-webfont.eot')
    src: url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/allerdisplay-webfont.woff2') format('woff2'),url('../fonts/allerdisplay-webfont.woff') format('woff'), url('../fonts/allerdisplay-webfont.ttf') format('truetype'),url('../fonts/allerdisplay-webfont.svg#aller_displayregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'ArialRegular'
    src: url('../fonts/arial-webfont.eot')
    src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arial-webfont.woff2') format('woff2'),url('../fonts/arial-webfont.woff') format('woff'),url('../fonts/arial-webfont.ttf') format('truetype'),url('../fonts/arial-webfont.svg#arialregular') format('svg')
    font-weight: normal
    font-style: normal