<div>
    <img src="http://comunacuerdo.co/static/images/comunacuerdo_logo.svg" alt="Común Acuerdo" width="178">
</div>
<h1>Hola!</h1>
<p>Se ha suscrito un nuevo usuario sus datos son:</p>
<p>Nombre: {{ email.name }}</p>
<p>Correo electrónico: {{ email.email }}</p>
<p>Organización: {{ email.organization }}</p>
<p>Ciudad/Municipio: {{ email.town }}</p>
<p>Fecha: {{ email.date_subscribe }}</p>

<p>Que tengas un buen día</p>