<!doctype html>
{% load static from staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comun Acuerdo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="Container">
        <div class="Video-container">
            <div class="Video-filter"></div>
                <video autoplay loop class="fullWidth" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Draw-Something.jpg">
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Draw-Something.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Draw-Something.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
{#                <div class="poster hidden">#}
{#                    <img src="https://s3-us-west-2.amazonaws.com/coverr/poster/Draw-Something.jpg" alt="Comun Acuerdo">#}
{#                </div>#}

        </div>
        <div class="Logo">
            <img src="{% static 'images/comunacuerdo_logo.svg' %}" alt="Común Acuerdo">
        </div>
        <div class="Message">
            <h3></h3>
        </div>
        <div class="Subscribe">
            <p>Suscríbete para saber sobre los Acuerdos de Paz  en La Habana y pertenecer a la comunidad de Común Acuerdo.</p>

            <div class="Form-container">
                <form action="." method="post" novalidate id="Form-subscribe">
                    {% csrf_token %}
                    <div class="flexbox">
                        <div class="Form-field">
                            {{ form.name.errors }}{{ form.name }}
                        </div>
                        <div class="Form-field">
                            {{ form.email.errors }}{{ form.email }}
                        </div>
                        <div class="Form-field">
                            {{ form.organization.errors }}{{ form.organization }}
                        </div>
                        <div class="Form-field">
                            {{ form.town.errors }}{{ form.town }}
                        </div>
                        <div class="Form-field">
                            <button class="Btn" type="submit"><i class="fa fa-send"></i> Suscribirme</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70473896-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'js/csrf_ajax.js' %}"></script>
    <script src="{% static 'js/main-compiled.js' %}"></script>

</body>
</html>
